.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 20px auto;
}

button {
  padding: 10px;
  background-color: #76c7c0;
  border: none;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.progress-container {
  width: 80%;
  margin: 20px auto;
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.progress-labels span {
  flex: 1;
  text-align: center;
}
.question {
  margin: 20px;
}

input[type="range"] {
  width: 80%;
  margin: 20px 0;
}

.labels {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.progress-bar {
  width: 100%;
  background-color: #e0e0df;
  border-radius: 13px;
  overflow: hidden;
  margin: 20px auto;
}

.progress-bar-fill {
  height: 20px;
  background-color: #76c7c0;
  width: 0;
  transition: width 0.3s;
}
